{% include 'site/header.html' %}

<section class="about section-padding">
    <div  class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img">
                    <img src="/static/books4.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text -text-white">
                    <h2>About us</h2>
                    <p>
                        We like people who read this is why we create this place where you can read a review of the book that 
                        you just see in the bookstore and hesitate to buy it.  </br>

                      <h5>Here is why we create this webpage </br></h5>  

                        <h6>The Many Benefits of Reading More</h6>
                        From physical and mental benefits to better workplace habits to productivity and creativity, building a reading habit
                        can have many positive impacts on those willing to make the time.
                        
                        Creative Thinking and Intellectual Wellness
                        A good place to start is with the basics. Reading exposes you to new ideas and ways of thinking. It provides you with
                        the information necessary to conjure innovative ideas. It certainly expands your vocabulary and knowledge to draw from
                        for inspiration. You improve your creative thinking by learning from the experiences of others.
                        
                        Reading exercises the parts of the brain necessary for creating. One university-based study showed that students who
                        spend more time reading do better on tests that involve creativity.
                        
                        The “Brain training” that occurs while reading is an important factor in intellectual wellness. By actively engaging
                        with what you’re reading, it can lead to better analytical skills and critical thinking. From connecting the dots in a
                        murder mystery to building ideas in a “how to” book, reading forces the brain to siphon out clues and piece together
                        information from chapter to chapter, page to page, and concept to concept.
                    </p>
                </div>

            </div>
        </div>

    </div>
    
    
</section>







{% include 'site/footer.html' %}